body{
    font-family:sans-serif;
    font-size:10px;
}

.camera, a{
    color:rgb(0, 100, 200);
}

#menu{
  position:absolute;
  z-index:10;
  color:#333;
}
#menu *{
  margin-right:10px;
}

.hidden{
  visibility:hidden;
  display:none;
}

#stats{
  position:fixed;
  bottom:0;
  left:0;
  visibility:hidden;
  display:none;
}
.show-fps #stats{
  display:block;
  visibility:visible;
}

.vertex:nth-child(0){left:0px; top:0px;}
.vertex:nth-child(1) {left:640px; top:0px;}
.vertex:nth-child(2) {left:640px; top:480px;}
.vertex:nth-child(3) {left:0px; top:480px;}


.vertex {
  width:50px;
  height:50px;
  position:absolute;
  display:none;
}

.camera{
  font-size:10px;
  text-transform:lowercase;
}

.camera .label{
  margin-top:-1.5em;
}

.vertexcontainer .vertex {display:block;}

.vertex div.handle {
    width:40px;
    height:40px;
    position:relative;
    left:-20px;
    top:-20px;
    border:1px solid rgb(0, 100, 200);
    border-radius:25px;
    z-index:1;
    opacity:0.5;
    background-color: #ddd;
    text-indent:-50px;
    line-height:5px;
}
.vertex .handle:after{
  content:' ';
  height:40px;
  width:1px;
  background:rgb(0, 100, 200);
  position:absolute;
  left:20px;
  top:0px;
  z-index:0;
}
.vertex .handle:before{
  content:' ';
  height:1px;
  width:40px;
  background:rgb(0, 100, 200);
  position:absolute;
  left:0px;
  top:20px;
  z-index:0;
}

.currenthandle {width:40px; height:40px; border:1px solid red; position:absolute; background-color:blue;}
body{
  text-align:center;
}
.camera{
  height:480px;
  width:640px;
  margin:-240px 0 0 -320px;
  position:fixed;
  border:1px solid rgba(0, 100, 200,0.5);
  top:50%;
  left:50%;
  display:none;
  visibility:hidden;
  z-index:1000;
}
.show-camera .camera{
  display:block;
  visibility:visible;
}

 .vertexcontainer, .vertexCanvas, video.webcam, #visualElements{
  position: absolute;
  left:0px;
  top:0px;
  display:block;
}

.render.output{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
}

.show-camera .render.output{
    opacity:0.5;
}